
<p><img src="http://adesse.webcondnet.com.br/imagens/email_adesse.jpg" width="1000" height="110"></p>
<p>&nbsp;</p>
<p> <b>Prezado Sr.(Sra.) @NOMECONDOMINO</b><br />
  Segue anexo boleto banc&aacute;rio n&uacute;mero @NUMERORECIBO para pagamento com vencimento
  em @VENCIMENTO,<br />
  <br />
  Caso seu anexo seja exclu&iacute;do do seu e-mail favor <a href='@LINKBOLETO' target='_blank'><b>Clicar
  Aqui</b></a>.<br />
  <br />
  <br />
  <br />
  Esta &eacute; uma mensagem autom&aacute;tica, favor n&atilde;o responder. </p>
