
<p><img src="http://delima.webcondnet.com.br/imagens/email_delilma.jpg" width="1135" height="110"></p>
<p>&nbsp;</p>
<p> <b>Prezado Sr.(Sra.) @NOMELOCADOR</b><br />
  Segue anexo boleto bancário número @NUMERORECIBO para pagamento com vencimento
  em @VENCIMENTO,<br />
  RESSALTANDO QUE A VIA IMPRESSA TAMBÉM SERÁ ENVIADA ATRAVÉS DOS CORREIOS, PODENDO
  V.Sª. OPTAR PELA MELHOR FORMA DE PAGAMENTO.<br />
  <br />
  Caso seu anexo seja excluído do seu e-mail favor <a href='@LINKBOLETO' target='_blank'><b>Clicar
  Aqui</b></a>.<br />
  <br />
  Pensando em facilitar o seu pagamento abaixo segue a linha digitável.<br />
  <br />
  <br />
  Esta é uma mensagem automática, favor não responder. </p>
