
<p><img src="http://www.claudiomorais.com.br/webcond/images/email_cmorais.jpg" width="1135" height="110"></p>
<p>&nbsp;</p>
<p> <b>Prezado Sr.(Sra.) @NOMECONDOMINO</b><br />
  Segue anexo boleto banc&aacute;rio n&uacute;mero @NUMERORECIBO para pagamento com vencimento
  em @VENCIMENTO,<br />
  RESSALTANDO QUE A VIA IMPRESSA TAMB&Eacute;M SER&Aacute; ENVIADA ATRAV&Eacute;S DOS CORREIOS, PODENDO
  V.Sª. OPTAR PELA MELHOR FORMA DE PAGAMENTO.<br />
  <br />
  Caso seu anexo seja exclu&iacute;do do seu e-mail favor <a href='@LINKBOLETO' target='_blank'><b>Clicar
  Aqui</b></a>.<br />
  <br />
  Pensando em facilitar o seu pagamento abaixo segue a linha digit&aacute;vel.<br />
  <br />
  <br />
  Esta &eacute; uma mensagem autom&aacute;tica, favor n&atilde;o responder. </p>
